body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f6f9;
  margin: 0;
  padding: 0;
  
}


.tela {
  
  width: 90%;
  height: 400px;
  margin: 40px auto;
  background: white;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 0 25px rgba(3,3,3,0.3);
  background-color: #dae4ee;
  
}

.opcoes {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

.opcoes button {
  border: none;
  padding: 15px 20px;
  font-size: 32px;
  border-radius: 60px;
  cursor: pointer;
  transition: 0.2s;
  color: white;
  height: 75px;
  width: 75px;
  box-shadow: 0 0 25px rgba(3,3,3,0.3);
  margin-top: 30px;
  margin-bottom: 40px;
}

.opcoes button:nth-child(1) { background-color: #00c853; }
.opcoes button:nth-child(2) { background-color: #2ecc71; }
.opcoes button:nth-child(3) { background-color: #7cb342; }
.opcoes button:nth-child(4) { background-color: #c0ca33; }
.opcoes button:nth-child(5) { background-color: #fbc02d; }
.opcoes button:nth-child(6) { background-color: #f9a825; }
.opcoes button:nth-child(7) { background-color: #f57c00; }
.opcoes button:nth-child(8) { background-color: #ef6c00; }
.opcoes button:nth-child(9) { background-color: #e65100; }
.opcoes button:nth-child(10) { background-color:#d84315; }
.opcoes button:nth-child(11) { background-color:#b71c1c; }


.perguntas {
  font-size: 40px;
  
}

.opcoes button.selecionado {
  outline: 3px solid #000;
  transform: scale(1.1);
  
}

textarea {
  width: 80%;
  height: 80px;
  margin-top: 15px;
  border-radius: 10px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
}

.volt{
  background-color: #ff0000;
  color: white;
  border: none;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
  height: 100px;
  width: 100px;
}
.env_resp{
  background-color: #58df58;
  color: white;
  border: none;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.navegacao .voltar{
  background-color: #ff0000;
  color: white;
  border: none;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
  height: 60px;
  width: 170px;
  font-size: 24px;
  box-shadow: 0 0 25px rgba(3,3,3,0.3);
}
.navegacao .proxima{
  background-color: #0004ff;
  color: white;
  border: none;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
  height: 60px;
  width: 170px;
  font-size: 24px;
  box-shadow: 0 0 25px rgba(3,3,3,0.3);
}
.volrar_inicio{
  background-color: #0084ff;
  color: white;
  border: none;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}


.navegacao button:hover {
  background-color: #0056b3;
}

footer {
  margin-top: 40px;
  text-align: center;
  padding: 15px;
  background-color: #f1f1f1;
  color: #555;
  font-size: 14px;
  border-top: 1px solid #ccc;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
 
}
